<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Base{% endblock title %}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('views.home') }}"><img src="{{ url_for('static', filename='pictures/preparation-favicon-exq.png') }}" alt="EXQ-Logo" class="logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="{{ url_for('views.the_offer') }}">The Offer</a></li>
            <li><a href="{{ url_for('views.philosophy') }}">Philosophy</a></li>
            <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
        </ul>

        <div class="cta-button-container">
            <a href="https://calendly.com/maksymilian-exqdigital/30min?month=2024-11" class="cta-button">
                <span class="montserrat-light">Schedule</span> 
                <span class="montserrat-medium">Call</span>
            </a>
        </div>

        <div class="hamburger" onclick="toggleMenu()">
            <img src="../static/pictures/hamburger-menu.png" alt="Menu">
        </div>

        <div class="mobile-menu">
            <ul>
                <li><a href="{{ url_for('views.the_offer') }}">THE OFFER</a></li>
                <li><a href="{{ url_for('views.philosophy') }}">PHILOSOPHY</a></li>
                <li><a href="{{ url_for('views.contact') }}">CONTACT</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
        this is the content section
    {% endblock content %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<footer class="footer">
    <section class="footer-qrcode-space">
        <img class="footer-qrcode" src="../static/pictures/exq-qrcode.jpg" alt="exq qr code">
    </section>
    <section class="footer-cta">
        <p class="montserrat-light">Schedule a quick <span class="montserrat-medium">introductory</span> meeting with our <span class="montserrat-medium">team</span>!</p>
        <button onclick="openCalendlyPage()" class="footer-button montserrat-light">Schedule <span class="montserrat-medium">Call</span></button>
    </section>
    <section class="footer-socialmedia">
        <p><span class="montserrat-medium">Follow</span> us on <span class="montserrat-regular">Social</span> Media!</p>
        <section class="footer-socialmedia-content">
            <img class="footer-socialmedia-icon" src="../static/pictures/facebook (1).png" alt="facebook icon">
            <img class="footer-socialmedia-icon" src="../static/pictures/instagram (1).png" alt="instagram icon">
            <img class="footer-socialmedia-icon" src="../static/pictures/linkedin.png" alt="linkedin icon">
        </section>
    </section>
    <section class="footer-contactinfo">
        <h2>Inquiry & Collaboration</h2>
        <p>info@exqdigital.com</p>
        <p><img class="footer-phone" src="../static/pictures/phone.png" alt="phone icon">+48 609 409 779</p>
    </section>
</footer>
</html>