<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Base{% endblock title %}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon_io/site.webmanifest') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="{{ url_for('views.home') }}"><img src="{{ url_for('static', filename='pictures/preparation-favicon-exq.png') }}" alt="EXQ-Logo" class="logo"></a>
        </div>

        <ul class="nav-links">
            <li><a href="{{ url_for('views.the_offer') }}">The Offer</a></li>
            <li><a href="{{ url_for('views.philosophy') }}">Philosophy</a></li>
            <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
        </ul>

        <div class="cta-button-container">
            <a href="https://calendly.com/maksymilian-exqdigital/30min?month=2024-11" class="cta-button">
                <span class="montserrat-light">Schedule</span> 
                <span class="montserrat-medium">Call</span>
            </a>
        </div>

        <div class="hamburger" onclick="toggleMenu()">
            <img src="{{ url_for('static', filename='images/hamburger-icon.png') }}" alt="Menu">
        </div>

        <div class="mobile-menu">
            <ul>
                <li><a href="{{ url_for('views.the_offer') }}">The Offer</a></li>
                <li><a href="{{ url_for('views.philosophy') }}">Philosophy</a></li>
                <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
        this is the content section
    {% endblock content %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>