{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<main class="contact-page">
    <!--
        This is the content for the desktop version of the page, another content for the 
    mobile version will be made below this entire version in this file. 
    -->
    <section class="heading-section-contact-page">
        <h1 class="pop-in-effect"><span class="montserrat-light">Let's</span> <span class="montserrat-medium">Collaborate.</span></h1>
        <section class="contact-page-plus-container pop-in-effect">
            <figure class="contact-page-plus-element-container draw-in-effect">
                <svg
                    width="60"
                    height="60"
                    viewBox="0 0 60 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="contact-page-plus-element-svg"
                >
                    <g filter="url(#filter0_d_917_975)">
                        <path
                            d="M26.6443 52L26.6443 2"
                            stroke="black"
                            stroke-linecap="round"
                            class="contact-page-plus-element-path"
                        />
                        <path
                            d="M2 26.6442L52 26.6442"
                            stroke="black"
                            stroke-linecap="round"
                            class="contact-page-plus-element-path"
                        />
                    </g>
                    <defs>
                        <filter
                            id="filter0_d_917_975"
                            x="0.5"
                            y="0.5"
                            width="59"
                            height="59"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                        >
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix
                                in="SourceAlpha"
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                result="hardAlpha"
                            />
                            <feOffset dx="3" dy="3" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                            />
                            <feBlend
                                mode="normal"
                                in2="BackgroundImageFix"
                                result="effect1_dropShadow_917_975"
                            />
                            <feBlend
                                mode="normal"
                                in="SourceGraphic"
                                in2="effect1_dropShadow_917_975"
                                result="shape"
                            />
                        </filter>
                    </defs>
                </svg>
            </figure>
        </section>
    </section>
    <section class="content-section-contact-page pop-in-effect">
        <!--here is the grid for 'clickables'-->
        <section class="content-section-clickables-grid">
            <!--This is the article of social media icons and cta-->
            <article class="clickables-social-media">
                <p><span class="montserrat-medium">Follow</span> us on <span class="montserrat-regular">social</span> media!</p>
                <div class="contact-sm-icons">
                    <a href=""><img class="contact-sm-icons-styling" src="../static/pictures/instagram (1).png" alt="instagram icon"></a>
                    <a href=""><img class="contact-sm-icons-styling" src="../static/pictures/linkedin.png" alt="linkedin icon"></a>
                    <a href=""><img class="contact-sm-icons-styling" src="../static/pictures/facebook (1).png" alt="facebook icon"></a>
                </div>
            </article>
            <!--here is the section for the qr code-->
            <section class="clickables-qr-code">
                <img src="../static/pictures/exq-qrcode.jpg" alt="tapni qr code -exq">
            </section>
            <!--Here is the article for the call to action - schedule call-->
            <article class="clickables-schedule-call">
                <article class="clickables-cta-paragraph">
                    <p class="montserrat-light">Schedule a quick <span class="montserrat-medium">discovery</span> meeting with our 
                    <span class="montserrat-medium">team.</span></p>
                </article>
                <button class="contact-cta-button" onclick="window.open('https://calendly.com/maksymilian-exqdigital/30min', '_blank')">
                    Schedule Call
                </button>
            </article>
        </section>
        <!--Here is the content section for the email and mobile phone-->
        <section class="content-section-emails-display">
            <article class="emails-exq-info-box">
                <h2 class="montserrat-medium">Inquiry & Collaboration</h2>
                <p class="montserrat-light">info@exqdigital.com</p>
            </article>
            <article class="emails-exq-media-box">
                <h2 class="montserrat-medium">Social media</h2>
                <p class="montserrat-light">media@exqdigital.com</p>
            </article>
            <article class="emails-mobile-phone">
                <img src="" alt="">
                <p class="montserrat-light">+48 609 409 779</p>
            </article>
        </section>
        <!--here is the content section for the Inquiry form-->
        <section class="content-section-inquiry-form">
            <p class="montserrat-light">Tell <span class="montserrat-regular">us</span> about your <span class="montserrat-medium">project!</span></p>
            <button class="inquiry-form-button montserrat-light">Send an <span class="montserrat-medium">Inquiry</span><img src="" alt=""></button>
        </section>

        

    </section>
    <section></section>

</main>
{% endblock content %}