{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block content %}
<main class="contact-page">
    <section class="heading-section-contact-page">
        <h1 class="flowout-animation "><span class="montserrat-light">Let's</span> <span class="montserrat-medium">Collaborate.</span></h1>
        <section class="contact-page-plus-container pop-in-effect">
            <figure class="contact-page-plus-element-container draw-in-effect">
                <svg
                    width="60"
                    height="60"
                    viewBox="0 0 60 60"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="contact-page-plus-element-svg"
                >
                    <g filter="url(#filter0_d_917_975)">
                        <path
                            d="M26.6443 52L26.6443 2"
                            stroke="black"
                            stroke-linecap="round"
                            class="contact-page-plus-element-path"
                        />
                        <path
                            d="M2 26.6442L52 26.6442"
                            stroke="black"
                            stroke-linecap="round"
                            class="contact-page-plus-element-path"
                        />
                    </g>
                    <defs>
                        <filter
                            id="filter0_d_917_975"
                            x="0.5"
                            y="0.5"
                            width="59"
                            height="59"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                        >
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix
                                in="SourceAlpha"
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                result="hardAlpha"
                            />
                            <feOffset dx="3" dy="3" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                            />
                            <feBlend
                                mode="normal"
                                in2="BackgroundImageFix"
                                result="effect1_dropShadow_917_975"
                            />
                            <feBlend
                                mode="normal"
                                in="SourceGraphic"
                                in2="effect1_dropShadow_917_975"
                                result="shape"
                            />
                        </filter>
                    </defs>
                </svg>
            </figure>
        </section>
    </section>
    <section class="content-contact-page">

    </section>

</main>
{% endblock content %}