{% extends "base.html" %}

{% block title %}
Home 
{% endblock title %}


{% block content %}
<main>
    <section class="home-page-landing">
        <article class="slogan-heading-home-desktop">
            <h1 class="text-shadow">
                <span class="montserrat-regular">The</span> 
                <span class="montserrat-medium">Culture</span> 
                <p><span class="montserrat-regular">of</span> 
                <span class="montserrat-regular">Meta</span> </p> 
                <span class="montserrat-light">Advertising</span>
            </h1>
        </article>
        <article class="subheading-home-page">
            <h2 class="text-shadow">
                <span class="montserrat-light">Tailored</span> 
                <span class="montserrat-medium">solution</span> 
                <span class="montserrat-regular">provider</span> 
                <span class="montserrat-light">in</span> 
                <span class="montserrat-medium">digital advertising.</spa n>
            </h2>
        </article>
</section>
</main>

{% endblock content %}