{% extends "base.html" %}

{% block title %}
Home 
{% endblock title %}


{% block content %}
<main>
    <section class="home-page-landing">
        <article class="slogan-heading-home-desktop">
            <h1 class="text-shadow flowout-animation">
                <span class="montserrat-regular">The</span> 
                <span class="montserrat-medium">Culture</span> 
                <p><span class="montserrat-regular">of</span> 
                <span class="montserrat-regular">Meta</span> </p> 
                <span class="montserrat-light">Advertising</span>
            </h1>
        </article>

        <article class="subheading-home-page flowout-animation">
            <h2>
                <span class="montserrat-light">Tailored</span> 
                <span class="montserrat-medium">solution</span> 
                <span class="montserrat-regular">provider</span> 
                <span class="montserrat-light">in</span> 
                <span class="montserrat-medium">digital advertising.</spa n>
            </h2>
        </article>
        <figure class="scroll-bar-box">
            <div class="svg-icon-scrollbar">
                <svg width="27" height="83" viewBox="0 0 27 83" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 81.7H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                    <path d="M2 68.4112H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                    <path d="M2 55.1222H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                    <path d="M2 28.0333H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                    <path d="M2 15.7667H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                    <path d="M2 2H25" stroke="#006305" stroke-width="3" stroke-linecap="round"/>
                    <path d="M2 41.8334H17.3333" stroke="#201F1F" stroke-width="1.53333" stroke-linecap="round"/>
                </svg>
            </div>
        </figure>
        <!--I use the figure class for optimised SEO performance-->
        <figure class="corner-element-1-figure">
            <!-- Inline SVG with semantics -->
            <svg 
                width="178" 
                height="178" 
                viewBox="0 0 178 178" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg" 
                role="img" 
                aria-labelledby="corner-element-1-title corner-element-1-desc"
                class="corner-element-1-svg"
            >
                <title id="corner-element-1-title">Corner Element Design</title>
                <desc id="corner-element-1-desc">An SVG with two crossing lines forming a corner element design.</desc>
                <path 
                    d="M151.377 177L151.377 0.999995" 
                    stroke="black" 
                    stroke-width="1.34316" 
                    stroke-linecap="round" 
                    class="corner-element-1-path"
                />
                <path 
                    d="M177 155.611H0.999995" 
                    stroke="black" 
                    stroke-width="1.34316" 
                    stroke-linecap="round" 
                    class="corner-element-1-path"
                />
            </svg>
        </figure>
        <!--This is the code for the plus - design element next to the slogan-->
        <figure class="home-plus-element-figure">
            <!-- Inline SVG with semantics -->
            <svg 
                width="39" 
                height="39" 
                viewBox="0 0 39 39" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg" 
                role="img" 
                aria-labelledby="home-plus-element-title home-plus-element-desc"
                class="home-plus-element-svg"
            >
                <title id="home-plus-element-title">Home Plus Element</title>
                <desc id="home-plus-element-desc">An SVG with a vertical and horizontal line crossing to form a plus design.</desc>
                <g filter="url(#filter0_d_814_29)">
                    <path 
                        d="M18.5 34L18.5 0.999998" 
                        stroke="black" 
                        stroke-linecap="round" 
                        class="home-plus-element-path"
                    />
                    <path 
                        d="M2 17.5H35" 
                        stroke="black" 
                        stroke-linecap="round" 
                        class="home-plus-element-path"
                    />
                </g>
                <defs>
                    <filter id="filter0_d_814_29" x="0" y="0" width="39" height="39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="1" dy="2"/>
                        <feGaussianBlur stdDeviation="1.25"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_814_29"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_814_29" result="shape"/>
                    </filter>
                </defs>
            </svg>
        </figure>
        <figure class="home-slogan-corner-element-figure">
            <!-- Inline SVG with semantics -->
            <svg 
                width="121" 
                height="121" 
                viewBox="0 0 121 121" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg" 
                role="img" 
                aria-labelledby="home-slogan-corner-element-title home-slogan-corner-element-desc"
                class="home-slogan-corner-element-svg"
            >
                <title id="home-slogan-corner-element-title">Home Slogan Corner Element</title>
                <desc id="home-slogan-corner-element-desc">An SVG with vertical and horizontal lines crossing to form a corner design element.</desc>
                <g filter="url(#filter0_d_814_32)">
                    <path 
                        d="M20.9032 114L20.9032 3" 
                        stroke="black" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        class="home-slogan-corner-element-path"
                    />
                    <path 
                        d="M3 94.3065H114" 
                        stroke="black" 
                        stroke-width="2" 
                        stroke-linecap="round" 
                        class="home-slogan-corner-element-path"
                    />
                </g>
                <defs>
                    <filter id="filter0_d_814_32" x="0.7" y="0.7" width="119.6" height="119.6" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dx="2" dy="2"/>
                        <feGaussianBlur stdDeviation="1.65"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_814_32"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_814_32" result="shape"/>
                    </filter>
                </defs>
            </svg>
        </figure>
    </section>
    <section class="high-end-niches-experience-box">
        
        <section class="high-end-niches-text-box">
            <article class="high-end-niches-text pop-in-effect">
                We bring <span class="montserrat-medium">expertise</span> shaped in 
                <span class="montserrat-medium">high-end industries</span> to create refined Meta advertising strategies that elevate 
                <span class="montserrat-medium">e-commerce</span> and 
                <span class="montserrat-medium">specialised sectors</span>.
            </article>
            <button class="high-end-niches-cta-buttons pop-in-effect">
                <p><span class="montserrat-light">Start</span> your <span class="montserrat-medium">project</span></p>
                <img src="../static/pictures/pointer-arrow.png" alt="pointer-arrow">
            </button>
        </section>
        <section class="niches-pictures-box">
            <section class="high-end-niches-pictures pop-in-effect">
                <img class="niches-picture-1" src="../static/pictures/square-maks-pegasus.jpg" alt="maks & pegasus">
                <img class="niches-picture-2" src="../static/pictures/sanlorenzo-maks.jpg" alt="maks & sanlorenzo">
                <img class="niches-picture-3" src="../static/pictures/exq-mockup-banner.png" alt="Exq-logo-banner">
    
            </section>
        </section>
    </section>
    <!--Here I start the third element of the page - HNWI Targetting-->
    <section class="hnwi-targetting-box">
        <section class="hnwi-targetting-picture-box pop-in-effect">
            <img class="hnwi-targetting-picture" src="../static/pictures/greendremboatsxmaks.jpg" alt="greendremboats x maks">
        </section>
        <article class="hnwi-targetting-text-box pop-in-effect">
            <p class="hnwi-targetting-text-primary"> <span class="montserrat-medium">
                High-net-worth individual</span> targeting is our <span class="montserrat-medium">key technique</span>. 
                <br>We specialise in building <span class="montserrat-medium">Meta advertising strategies</span> that drive <span class="montserrat-medium">sales</span> by connecting your
                 brand with <span class="montserrat-medium">clients ready</span> to act.
            </p>
            <p class="hnwi-targetting-text-secondary">
                Through advanced <span class="montserrat-medium">behavioural analysis</span> and precise 
                audience insights, we ensure each lead is <span class="montserrat-medium">highly 
                qualified</span> and aligned with your business <span class="montserrat-medium">goals</span>.
            </p>
            <button class="hnwi-targetting-cta-button">
                <p class="montserrat-light">Schedule <span class="montserrat-medium">Call</span></p>
                <img src="../static/pictures/white-pointer-arrow.png" alt="pointer-arrow-cta">
            </button>
        </article>
    </section>
    <!--Here i start the fourth element of the page - the 'trusted-by-companies'-->
    <section class="trusted-companies-background-box pop-in-effect">
        <article class="trusted-by-companies-box">
            <p><span class="montserrat-medium">Trusted</span> by <span class="montserrat-regular">International</span> Brands</p>
            <section class="trusted-by-companies-logos">
                <img class="companies-logos left-logo-margin" src="../static/pictures/Organiclighting bez paska białe.png" alt="Organic Lighting logo">
                <figure class="vertical-line-container draw-in-effect">
                    <svg 
                        width="2" 
                        height="141" 
                        viewBox="0 0 2 141" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg" 
                        class="vertical-line-svg"
                        role="presentation" 
                        aria-hidden="true"
                    >
                        <path 
                            d="M1 140.532L1 0.999989" 
                            stroke="white" 
                            stroke-width="0.829206" 
                            stroke-linecap="round" 
                            class="vertical-line-path"
                        />
                    </svg>
                </figure>
                <img class="companies-logos" src="../static/pictures/02_ilum_logo_kontra_RGB.png" alt="ILUM Lighting logo">
                <figure class="vertical-line-container draw-in-effect">
                    <svg 
                        width="2" 
                        height="141" 
                        viewBox="0 0 2 141" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg" 
                        class="vertical-line-svg"
                        role="presentation" 
                        aria-hidden="true"
                    >
                        <path 
                            d="M1 140.532L1 0.999989" 
                            stroke="white" 
                            stroke-width="0.829206" 
                            stroke-linecap="round" 
                            class="vertical-line-path"
                        />
                    </svg>
                </figure>
                <img class="companies-logos right-logo-margin" src="../static/pictures/mentis-horizontal-variant-white.png" alt="Mentis logo">
            </section>
        </article>
    </section>
    <section class="start-advertising-background">
            <figure class="responsive-svg-container draw-in-effect big-vertical-line">
                <svg
                    width="501"
                    height="511"
                    viewBox="0 0 501 511"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="big-vertical-line-svg"
                >
                    <g filter="url(#filter0_d_840_163)">
                        <path
                            d="M437.005 4L437.005 503.025"
                            stroke="black"
                            stroke-linecap="round"
                            class="big-vertical-line-path"
                        />
                    </g>
                    <path
                        d="M500.025 67.0122L0.999969 67.0122"
                        stroke="black"
                        stroke-linecap="round"
                        class="big-vertical-line-path"
                    />
                    <defs>
                        <filter
                            id="filter0_d_840_163"
                            x="432.705"
                            y="0.7"
                            width="10.6"
                            height="509.625"
                            filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB"
                        >
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix
                                in="SourceAlpha"
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                result="hardAlpha"
                            />
                            <feOffset dx="1" dy="2" />
                            <feGaussianBlur stdDeviation="2.4" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix
                                type="matrix"
                                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                            />
                            <feBlend
                                mode="normal"
                                in2="BackgroundImageFix"
                                result="effect1_dropShadow_840_163"
                            />
                            <feBlend
                                mode="normal"
                                in="SourceGraphic"
                                in2="effect1_dropShadow_840_163"
                                result="shape"
                            />
                        </filter>
                    </defs>
                </svg>
            </figure>
        <img class="advertising-logo" src="../static/pictures/exq-digital-horizontal-logo-black.png" alt="exq horizontal logo">
        <p class="advertising-text">
            Advertise your <span class="montserrat-regular">business</span> <br>and <span class="montserrat-regular">build</span>
             <span class="montserrat-medium">sales</span> with <br><span class="montserrat-regular">Meta</span> today.
        </p>
        <a href="https://calendly.com/maksymilian-exqdigital/30min" class="advertise-cta-button">
            <p class="montserrat-light">START  <span class="montserrat-medium">TODAY</span></p>
            <img src="../static/pictures/white-pointer-arrow.png" alt="pointer-arrow-cta">
        </a>
        <figure class="advertising-lower-svg-corner draw-in-effect">
            <svg
                width="505"
                height="515"
                viewBox="0 0 505 515"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="advertising-lower-svg-corner-svg"
            >
                <g filter="url(#filter0_d_840_162)">
                    <path
                        d="M66.0202 505.025L66.0202 5.99997"
                        stroke="black"
                        stroke-width="5"
                        stroke-linecap="round"
                        class="advertising-lower-svg-corner-path"
                    />
                </g>
                <path
                    d="M3 442.013L502.025 442.013"
                    stroke="black"
                    stroke-width="5"
                    stroke-linecap="round"
                    class="advertising-lower-svg-corner-path"
                />
                <defs>
                    <filter
                        id="filter0_d_840_162"
                        x="59.7202"
                        y="0.7"
                        width="14.6"
                        height="513.625"
                        filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB"
                    >
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix
                            in="SourceAlpha"
                            type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                            result="hardAlpha"
                        />
                        <feOffset dx="1" dy="2" />
                        <feGaussianBlur stdDeviation="2.4" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix
                            type="matrix"
                            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                        />
                        <feBlend
                            mode="normal"
                            in2="BackgroundImageFix"
                            result="effect1_dropShadow_840_162"
                        />
                        <feBlend
                            mode="normal"
                            in="SourceGraphic"
                            in2="effect1_dropShadow_840_162"
                            result="shape"
                        />
                    </filter>
                </defs>
            </svg>
        </figure>
    </section>
</main>


{% endblock content %}