{% extends "base.html" %}

{% block title %}
Philosophy
{% endblock title %}

{% block content %}
<main class="hide-scrollbar">
    <section class="philosophy-landing-vh">
        <section class="philosophy-svg-underline">
            <svg width="353" height="353" viewBox="0 0 353 353" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="34.5175" y1="352.413" x2="34.5175" class="unique-line-1" stroke="black" stroke-width="1.03038"/>
                <line y1="314.78" x2="352.413" y2="314.78" class="unique-line-2" stroke="black" stroke-width="1.03038"/>
              </svg>
        </section><h1><span class="montserrat-light">OUR</span> <span class="montserrat-medium">PHILOSOPHY</span></h1>
        <section class="philosophy-picture-quote pop-in-effect">
            <img class="philosophy-maks-picture" src="../static/pictures/IMG_6685-Enhanced-NR-2.jpg" alt="maks picture">
            <section class="philosophy-quote-texts">
                <p class="philosophy-texts-margin">“The true <span class="montserrat-medium">purpose</span> of <span class="montserrat-regular">advertising</span> is forging a <span class="montserrat-medium">connection</span> 
                    between the <span class="montserrat-regular">brand</span> and the <span class="montserrat-regular">consumer</span>.</p>
                <p class="philosophy-texts-margin"><span class="montserrat-medium">Meta</span> advertising is the <span class="montserrat-regular">most effective way</span> to do that by showing your <span class="montserrat-medium">ad</span> 
                    to the right people at the <span class="montserrat-regular">right time.</span>”</p>
                <p class="second-part-text-margin">- Maksymilian Rechnio</p>
                <p class="philosophy-texts-margin texts-margin">Founder | <span class="montserrat-medium">CEO</span></p>
            </section>
        </section>
        <svg class="philosophy-second-svg" xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
            <g filter="url(#filter0_d_857_41)">
              <path d="M29.7046 51L29.7046 1" class="path-animate" stroke="black" stroke-linecap="round"/>
              <path d="M5 25.7047L55 25.7047" class="path-animate path-animate-delay" stroke="black" stroke-linecap="round"/>
            </g>
            <defs>
              <filter id="filter0_d_857_41" x="0.5" y="0.5" width="59" height="59" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_857_41"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_857_41" result="shape"/>
              </filter>
            </defs>
        </svg>
        <svg class="philosophy-third-svg" xmlns="http://www.w3.org/2000/svg" width="62" height="62" viewBox="0 0 62 62" fill="none">
            <g filter="url(#filter0_d_866_66)">
              <path class="philosophy-third-svg-line-1" d="M30.9574 52.5188L30.9574 1.00002" stroke="black" stroke-width="1.03038" stroke-linecap="round"/>
              <path class="philosophy-third-svg-line-2" d="M5.50244 26.4552L57.0212 26.4552" stroke="black" stroke-width="1.03038" stroke-linecap="round"/>
            </g>
            <defs>
              <filter id="filter0_d_866_66" x="0.865802" y="0.484863" width="60.7921" height="60.7921" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4.1215"/>
                <feGaussianBlur stdDeviation="2.06075"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_866_66"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_866_66" result="shape"/>
              </filter>
            </defs>
          </svg>
    </section>
    <!--
    Here I begin the second part of the philosophy page that is titled Understanding is Power
    -->
    <section class="understanding-power-main">
        <article class="understanding-power-article">
            <h2><span class="montserrat-medium">UNDERSTANDING</span> IS <span class="montserrat-light">POWER</span></h2>
            <p class="understanding-power-texts-margin">Meta Advertising is a <span class="montserrat-medium">data-driven</span> field; the more you <span class="montserrat-medium">understand</span> 
                its <span class="montserrat-medium">processes</span> and <span class="montserrat-medium">mechanisms</span> , the more <span class="montserrat-medium">powerful</span> and <span class="montserrat-medium">adaptable</span> it becomes.</p>
            
            <p class="understanding-power-texts-margin">For the past <span class="montserrat-medium">four years</span>, we’ve delved deep into Meta’s platforms, combing through <span class="montserrat-medium">official</span> 
                resources, studying <span class="montserrat-medium">success stories</span>, and analysing <span class="montserrat-medium">methodologies</span>. </p>
            
            <p class="understanding-power-texts-margin">This enabled us to <span class="montserrat-medium">craft</span> an 
                <span class="montserrat-medium">avant-garde approach</span> tailored specifically for <span class="montserrat-medium">high-end niches</span>.</p>
        </article>
        <article class="understanding-power-4">
            <p>4</p>
        </article>    
        <section class="understanding-power-corner-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="153" height="153" viewBox="0 0 153 153" fill="none">
                <line class="understanding-power-corner-line-1" x1="28.7095" y1="153" x2="28.7095" stroke="white"/>
                <line class="understanding-power-corner-line-2" y1="127.5" x2="153" y2="127.5" stroke="white"/>
              </svg>
        </section> 
        <section class="understanding-power-plus-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="51" viewBox="0 0 51 51" fill="none">
                <g filter="url(#filter0_d_882_96)">
                  <path class="understanding-power-plus-line-1" d="M25.2578 43L25.2578 2" stroke="white" stroke-width="2.08475" stroke-linecap="round"/>
                  <path class="understanding-power-plus-line-2" d="M5 22.2578L46 22.2578" stroke="white" stroke-width="2.08475" stroke-linecap="round"/>
                </g>
                <defs>
                  <filter id="filter0_d_882_96" x="0.677641" y="0.957642" width="49.6447" height="49.6447" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="3.28"/>
                    <feGaussianBlur stdDeviation="1.64"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_882_96"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_882_96" result="shape"/>
                  </filter>
                </defs>
              </svg>
        </section>
    </section>
    <section class="key-results-main">
        <article class="key-results-article">
            <h2><span class="montserrat-medium">THE KEY</span> TO <span class="montserrat-light">RESULTS</span></h2>
            <p>Many brands <span class="montserrat-medium">miss the mark</span> by overlooking Meta’s 
                campaign <span class="montserrat-medium">objectives</span> at each <span class="montserrat-medium">funnel</span> stage. </p>
            <p>These objectives work <span class="montserrat-medium">together</span> as a 
                <span class="montserrat-medium">cohesive solution</span>, not just <span class="montserrat-medium">options</span> to pick and choose.</p>
            <p>Setting <span class="montserrat-medium">clear goals</span> ensures ads reach the <span class="montserrat-medium">right audience</span> 
                at the <span class="montserrat-medium">right time</span> — moving people smoothly from <span class="montserrat-medium">awareness</span> to <span class="montserrat-medium">conversion</span>.</p>
        </article>
        <section class="key-results-funnel">
            <img class="key-results-funnel-img" src="../static/pictures/the-marketing-funnel.png" alt="marketing funnel">
        </section>
        <svg class="key-results-first-svg pop-in-effect" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 40 40" fill="none">
            <g filter="url(#filter0_d_884_118)">
              <path d="M19.3333 34L19.3333 4" stroke="black" stroke-linecap="round"/>
              <path d="M4 18.6668L34 18.6668" stroke="black" stroke-linecap="round"/>
            </g>
            <defs>
              <filter id="filter0_d_884_118" x="0.5" y="0.5" width="34" height="34" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="1" dy="1"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_884_118"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_884_118" result="shape"/>
              </filter>
            </defs>
          </svg>
          <svg class="key-results-second-svg" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <g filter="url(#filter0_d_912_62)">
              <path d="M19.6079 37L19.6079 0.999999" stroke="black" stroke-width="0.699029" stroke-linecap="round"/>
              <path d="M37 18.3936L0.999999 18.3936" stroke="black" stroke-width="0.699029" stroke-linecap="round"/>
            </g>
            <defs>
              <filter id="filter0_d_912_62" x="0.300998" y="0.300998" width="39.4951" height="39.4951" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dx="1.04854" dy="1.04854"/>
                <feGaussianBlur stdDeviation="0.699029"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_912_62"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_912_62" result="shape"/>
              </filter>
            </defs>
          </svg>
    </section>
    <!--
    Here I begin the fourth part of the philosophy page - quality takes time
    -->
    <section class="quality-time-main">
        <img class="quality-time-icon" src="../static/pictures/preparation-favicon-exq.png" alt="exq-logo">
        <article class="quality-time-article">True <span class="montserrat-medium">strategy</span> takes 
            <span class="montserrat-medium">time</span> — there’s <span class="montserrat-medium">no</span> shortcut to <span class="montserrat-semibold">quality</span>.
        </article>
        <button class="quality-time-button" onclick="openCalendlyPage()">Schedule <span class="montserrat-medium">Call</span> Now <img src="../static/pictures/pointer-arrow.png" alt="pointer-arrow"></button>
    </section>

</main> 
{% endblock content %}